<!DOCTYPE html>

<html lang="en">

<head>
<% include partials/head %>
</head>

<body>
<p>forFrame.js</p>

        <div id="apparea" style="width:640px;height:480px;"></div>

        <!-- autogif stuff -->
        <script src="js/lib/LZWEncoder.js"></script>
        <script src="js/lib/NeuQuant.js"></script>
        <script src="js/lib/GIFEncoder.js"></script>
        <script src="js/lib/b64.js"></script>

        <!-- autogif-->
        <script src="js/autogif.js" ></script>

        <!-- forFrame stuff -->
        <script src="js/forframe.js"></script>

        <!-- forFrame plugins -->
        <script src="js/forframe_plugins/inject_canvas.js"></script>
        <script src="js/forframe_plugins/inject_ui.js"></script>
        <script src="js/forframe_plugins/renderframe_canvas.js"></script>

        <script src="js/lib/filesaver.js"></script>
        <script src="js/forframe_plugins/to_png_collection.js"></script>

        <!-- projects scene.js -->
        <script src="js/scene.js"></script>

</body>

</html>