<!DOCTYPE html>

<html lang="en">

<head>
<% include partials/head %>
</head>

<body>

    <div id="ui_container">

        <div id="ui_display"></div>
        <iframe id="ui_plugins"></iframe>

    </div>

        <div id="ui_controls"><span>controls</span></div>

        <!-- autogif stuff -->
        <script src="js/lib/LZWEncoder.js"></script>
        <script src="js/lib/NeuQuant.js"></script>
        <script src="js/lib/GIFEncoder.js"></script>
        <script src="js/lib/b64.js"></script>

        <!-- to png collection stuff-->
        <script src="js/lib/filesaver.js"></script>

        <!-- autogif-->
        <script src="js/autogif.js" ></script>

        <!-- forFrame -->
        <script src="js/forframe.js"></script>
        <script src="js/onplugin.js"></script>

        <!-- forFrame plugins -->
        <script src="js/forframe_plugins/inject_canvas.js"></script>
        <script src="js/forframe_plugins/inject_ui.js"></script>
        <script src="js/forframe_plugins/renderframe_canvas.js"></script>
        <script src="js/forframe_plugins/to_png_collection.js"></script>
        <script src="js/forframe_plugins/control_slide.js"></script>

        <!-- projects scene.js -->
        <script src="js/scene.js"></script>

</body>

</html>